<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="google_drive_menu_root" name="Cloud storage" web_icon="google_drive_odoo_integration,static/description/security.png"/>
    <menuitem id="google_drive_menu_explorer" name="File Explorer" parent="google_drive_menu_root" action="action_google_drive_file_explorer" sequence="1"/>
    <menuitem id="google_drive_menu_config" name="Drivers" parent="google_drive_menu_root" action="google_drive_config_action" sequence="2"/>
</odoo>
