<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="nextcloud_menu_root" name="Cloud storage" web_icon="nextcloud_odoo_integration,static/description/security.png"/>

    <!-- 1. Dashboard -->
    <menuitem id="nextcloud_menu_dashboard" name="Dashboard" parent="nextcloud_menu_root" action="action_nextcloud_dashboard" sequence="1"/>

    <!-- 2. File Explorer -->
    <menuitem id="nextcloud_menu_explorer" name="File Explorer" parent="nextcloud_menu_root" action="action_nextcloud_file_explorer" sequence="2"/>

    <!-- 3. Configuration -->
    <menuitem id="nextcloud_menu_configuration" name="Configuration" parent="nextcloud_menu_root" sequence="3"/>

    <!-- 3.1 Drivers -->
    <menuitem id="nextcloud_menu_config_drivers" name="Drivers" parent="nextcloud_menu_configuration" action="nextcloud_config_action" sequence="1"/>

    <!-- 3.2 Attachments -->
    <menuitem id="nextcloud_menu_config_attachments" name="Attachments" parent="nextcloud_menu_configuration" action="action_attachment_sync_config" sequence="2"/>

    <!-- 3.3 Logs -->
    <menuitem id="nextcloud_menu_config_logs" name="Activity Log" parent="nextcloud_menu_configuration" action="action_nextcloud_sync_log_terminal" sequence="3"/>

    <!-- 4. Documentation -->
    <menuitem id="nextcloud_menu_documentation" name="Documentation" parent="nextcloud_menu_root" action="action_nextcloud_documentation" sequence="4"/>
</odoo>
