<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="one_drive_menu_root" name="Cloud storage" web_icon="dropbox_odoo_integration,static/description/security.png"/>

    <!-- 1. Dashboard -->
    <menuitem id="one_drive_menu_dashboard" name="Dashboard" parent="one_drive_menu_root" action="action_one_drive_dashboard" sequence="1"/>

    <!-- 2. File Explorer -->
    <menuitem id="one_drive_menu_explorer" name="File Explorer" parent="one_drive_menu_root" action="action_one_drive_file_explorer" sequence="2"/>

    <!-- 3. Configuration -->
    <menuitem id="one_drive_menu_configuration" name="Configuration" parent="one_drive_menu_root" sequence="3"/>

    <!-- 3.1 Drivers -->
    <menuitem id="one_drive_menu_config_drivers" name="Drivers" parent="one_drive_menu_configuration" action="one_drive_config_action" sequence="1"/>

    <!-- 3.2 Attachments -->
    <menuitem id="one_drive_menu_config_attachments" name="Attachments" parent="one_drive_menu_configuration" action="action_attachment_sync_config" sequence="2"/>

    <!-- 3.3 Logs -->
    <menuitem id="one_drive_menu_config_logs" name="Activity Log" parent="one_drive_menu_configuration" action="action_one_drive_sync_log_terminal" sequence="3"/>

    <!-- 4. Documentation -->
    <menuitem id="one_drive_menu_documentation" name="Documentation" parent="one_drive_menu_root" action="action_one_drive_documentation" sequence="4"/>
</odoo>
